<template name="beta">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-2 col-lg-2"></div>
            <div class="col-md-8 col-xs-8 col-lg-8">
                <div class="jumbotron">
                    <h3>Welcome to DataGator Alpha!</h3>

                    <p>This is alpha software and may have bugs. Send feedback to dave@datagator.us</p>
                    <p><a class="btn btn-primary btn-lg" href="/welcome" role="button">Got it!</a>

                    </p>
                </div>
            </div>
            <div class="col-md-2 col-xs-2 col-lg-2"></div>
        </div>
    </div>


</template>