<template name="chat">
    <div class="container">
        <div class="row">

            <div class="col-md-3" id="chatContainer">
                  <div class="row" id="chatContent">
                        <div class="row">
                              <div class='col-md-2'></div>
                              <div class='col-md-8' id="chatContentMessageSpace">
                                    

                                    <div class="row"> 
                                          <div class="col-md-12" ><div class="messageOutgoing"> outgoing</div></div>
                                    </div>
                                    <div class="row"> 
                                          <div class="col-md-12" ><div class="messageIncoming"> Incoming</div></div>
                                    </div>
                                    
                              </div>
                              <div class='col-md-2'></div>
                        </div>
                        
                  </div>
                  <div class="row" id="chatActions">
                        <div class='col-md-0'></div>
                        <div class='col-md-10'>
                              <div class="row">
                                    <div class='col-md-10' id="messageContent">
                                          <input type="text" placeholder="input message here" id="messageContentText"/>
                                          
                                    </div>
                                    <div class='col-md-2' id="messageSend">
                                          
                                          <button class="button btn btn-primary" id="messageSendButton">Send</button>
                                    </div>

                              </div>
                              
                        </div>
                        <div class='col-md-0'></div>
                  </div>
                  
            </div>
{{> messages}}


        </div>
    </div>
    
    


</template>

<template name="messages">
  {{#each messages}}
    <strong>{{sentFrom}}:</strong> {{messageContent}}<br>
  {{/each}}
</template>