<template name="chat">
    <div class="container" id="chatContainer">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="chatWidget">
              <div class="panel panel-default" id="sheetWidget">
                <div class="panel-heading" id="chatPanelHeading">
                  Shared Users
                  </div>

    <div class="row" id="chatContentRow">
      
<ul class="list-group" id="cPanelList">


</ul>
      
      
<ul class="list-group" id="chatContentRowText">


</ul>
      
      
    </div>
    <div class="row" id="chatActionsRow">
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9" id="typeMessage">
          <textarea class="form-control" rows="1" id="typeMessageText"> </textarea>
      </div>
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="submitMessage">
        <button class="button btn btn-sm btn-primary" id="submitMessageButton"> Send</button>
        
      </div>
    </div>
    </div>
      
      </div>
    </div>
    
    

</div>




</template>