<template name="landing">  

      <div class='row'>
            <div class='col-md-3'></div>
            <div class='col-md-6'>
                  <div class="jumbotron">
                    <div class="container">
                      <h1>DataGator</h1>
                      <p> For anyone that needs to gather data from other people, DataGator allows you to flexibly and securely share and gather the data you need, unlike other products, that don't allow you to collaborate, or don't have enough security, DataGator allows the controls to get the answers you need quickly</p>
                    </div>
                  </div>
            </div>
            <div class='col-md-3'></div>
            
      </div>


</template>  