<template name="landing">  
      <div class='row'>
            <div class='col-md-3'></div>
            <div class='col-md-6'>
                  <div id="mainAlertText"></div>
            </div>
            <div class='col-md-3'></div>
      </div>
      <div class='row'>
            <div class='col-md-3'></div>
            <div class='col-md-6'>
                  <div class="jumbotron">
                    <div class="container">
                      <h1>DataGator (noun):</h1>
                      <p> Free software that allows you to gather data more efficiently by collaborating with others on spreadsheets in real time.</p>
                      <br>

                    </div>
                  </div>
            </div>
            <div class='col-md-3'></div>
            
      </div>
      <div class='row'>
                        <div class='col-md-3'></div>
                        <div class='col-md-6'>
                                    <p id="unsubscribeLabel">Click Here to unsubscribe to email notifications</p>
                                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#unsubscribeButton">Unsubscribe</button>
                        </div>
                        <div class='col-md-3'></div>
            
      </div>






</template>  