

<!-- define a template called welcomePage -->
<template name="sharedSheets">
   {{#if currentUser}}
  		<div class="row" id="pageTitle">
			<div class='col-md-2'> </div>
			<div class='col-md-8'>
				<div class="page-header">
					<h1>Shared Sheets<small> Sheets shared with you</small></h1>
				</div>
			</div>
			<div class='col-md-2'> </div>
		</div>
		<div class="row">
		    <div class='col-md-2'></div>
		    <div class='col-md-8'>
		<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">Sheet Details <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="These are sheets other users have shared with you"/></h3>
						</div>
			  <ul class="list-group">
				  <div id="results"> </div>
  			</ul>
	    </div>
	    </div>
	    <div class='col-md-2'></div>
		</div>

   {{/if}}
</template>
