<!-- define a template called welcomePage -->
<template name="viewSheet">
    		<div class="row" id="pageTitle">
			<div class='col-md-1'> </div>
			<div class='col-md-10'>
				<div class="page-header">
					<div class="row">
						<div class='col-md-4' id="sheetName"><h3 id="sheetNameValue">Your Sheet</h3></div>
                        <div class='col-md-4' id="alertSpace">


                        </div>
						<div class='col-md-4'> <h3 id="buttonGroup">
							<button type="button" id='shareSheet' class="btn btn-success" data-toggle="modal" data-target="#myModal">Share</button>
						    <!--
							<button type="button" id='saveSheet' class="btn btn-primary">Save</button>
							!-->

							
							</h3></div>
					</div>
				</div>
			</div>
			<div class='col-md-1'> </div>
		</div>
		<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-6">
		    
		    						<div class="row" id='legendRow'>
											<div class='col-md-3' id="legendText">  Editable  <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="Only you (the owner) can edit this field"/></div>
											<div class='col-md-2' id="legendOwner">  </div>
											<div class='col-md-3' id="legendText"> Read Only <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="This field cannot be edited. Only guests can edit"/></div>
											<div class='col-md-2' id="legendGuest">  </div>
											<div class='col-md-3' id="legendText"> Hidden <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="This field is only visible to you. Your guests cannot see this data."/> </div>
											<div class='col-md-2' id="legendHidden">  </div>
								
										</div>
		    
		  </div>
		  <div class="col-md-3"></div>
		  
		</div>
  <div class="row">
      <div class="col-md-1"></div>
      
        <div class="col-md-2" id="leftNav">
            {{> chat}}

  	
  </div>
  <div class="col-md-8"><div id="HOT"></div></div>

  <div class="col-md-1"></div>
  </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Share with others and gather data</h4>
                </div>
                <div id="modalContentSwap">
                <div class="modal-body">
                    <form id="shareSheetForm">
                        <div class="form-group">
                            <div id="modalContent">


                                <div class="row" id="shareSheetContent">
                                    <div class="row">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-11">

                                            <div class="row">
                                                <h4>Share With the following Email Addresses:</h4>
                                                <ul>
                                                    <div id="emailList"></div>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <h4>What Happens Next?</h4>
                                                <ol id='nextSteps'>
                                                    <li>User will receive email notification with a link to your sheet</li>
                                                    <li>User will signup (if new user) and sign in</li>
                                                    <li>User will fill out and save your sheet</li>
                                                    <li>You can track progress in the dashboard</li>

                                                </ol>

                                            </div>
                                        </div>
                                    </div>


                                </div>





                            </div>


                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="submitShareForm">Share</button>
                </div>
                    </div>
            </div>
        </div>



    </div>



</template>
