<!-- define a template called welcomePage -->
<template name="viewSheet">
    		<div class="row" id="pageTitle">
			<div class='col-md-1'> </div>
			<div class='col-md-10'>
				<div class="page-header">
					<div class="row">
						<div class='col-md-2' id="sheetName"><h3 id="sheetNameValue">Your Sheet</h3></div>
						<div class='col-md-6' id="legendBox">
							
								<div class="row">
										<div class="row">
											<div class='col-md-4' id="legendText">  Edtiable </div>
											<div class='col-md-4' id="legendOwner">  </div>
											<div class='col-md-4' id="legendText"> Read Only </div>
											<div class='col-md-4' id="legendGuest">  </div>
								
										</div>
										<div class="row">
											<div class='col-md-4' id="legendText"> Required </div>
											<div class='col-md-4' id="legendRequired">  </div>
											<div class='col-md-4' id="legendText"> Hidden </div>
											<div class='col-md-4' id="legendHidden">  </div>
								
										</div>
								
								</div>
							
							
							
						</div>
						<div class='col-md-4'> <h3 id="buttonGroup">
							<button type="button" id='editSheet' class="btn btn-danger">Edit</button>
							<button type="button" id='saveSheet' class="btn btn-primary">Save</button>
							<button type="button" id='shareSheet' class="btn btn-success" data-toggle="modal" data-target="#myModal">Share</button>
							
							</h3></div>
					</div>
				</div>
			</div>
			<div class='col-md-1'> </div>
		</div>
  <div class="row">
      <div class="col-md-1"></div>
      
        <div class="col-md-3" id="leftNav">
<div class="panel panel-primary" >
  <!-- Default panel contents -->
  <div class="panel-heading">Your Responses</div>
  <div class="panel-body">
      <div class="row" id="chatBox">
      <div class="col-md-12" id="chatContent">
      <div class='row'> 
            <div class='col-md-6'> left</div>
            <div class='col-md-6'> right </div>
      </div>
      <div class='row'> 
            <div class='col-md-6'> left</div>
            <div class='col-md-6'> right </div>
      </div>
      </div>
</div>
      
            <div class='row'> 
            <div class='col-md-10'> <input type="text"></div>
            <div class='col-md-2'>    <button class="button button-primary">Send</button></div>
      </div>


    
  </div>

  <!-- List group -->
 <!-- <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul> -->

</div> 
  	
  </div>
  <div class="col-md-6"><div id="HOT"></div></div>

  <div class="col-md-1"></div>
  </div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       		<form id="shareSheetForm">
					  <div class="form-group">
					    <label for="shareEmail">Share with</label>
					    <input type="email" class="form-control shareEmailAddress" id="emailAddress" placeholder="Enter email">
					  </div>
       		</form>
       		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="submitShareForm">Save changes</button>
      </div>
    </div>
  </div>
</div>

</template>
