<!-- define a template called welcomePage -->
<template name="viewSharedSheet">
    		<div class="row" id="pageTitle">
			<div class='col-md-1'> </div>
			<div class='col-md-10'>
				<div class="page-header">
					<div class="row">
						<div class='col-md-8' id="sheetName"><h3 id="sheetNameValue">Your Sheet</h3></div>

						<div class='col-md-2'> <h3 id="buttonGroup">
							<!--
							<button type="button" id='saveSheet' class="btn btn-primary">Submit</button>
							!-->
							
							</h3></div>
					</div>
				</div>
			</div>
			<div class='col-md-1'> </div>
		</div>
				<div class="row">
		  <div class="col-md-1"></div>
		  <div class="col-md-6">
		    
		    						<div class="row" id='legendRow'>
											<div class='col-md-2' id="legendText">  Editable     <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="The sheet owner has allowed you to edit this field"/></div>
											<div class='col-md-2' id="legendOwner">  </div>
											<div class='col-md-2' id="legendText"> Read Only <img src='/qa.png' id='help' data-toggle="tooltip" data-placement="right" title="This field cannot be edit. Only the sheet Owner can edit"/> </div>
											<div class='col-md-2' id="legendGuest">  </div>

								
										</div>
		    
		  </div>
		  <div class="col-md-3"></div>
		  
		</div>
  <div class="row">
      <div class="col-md-1"></div>
      
<div class="col-md-2" id="leftNav">
            {{> chat}}

  	
  </div>
  <div class="col-md-8"><div id="HOT"></div></div>

  <div class="col-md-1"></div>
  </div>

</template>
