	#header {
	    height: 50px;
	    font-size: 1.3em;
	}
	#righter {
	    position: relative;
	    float: right;
	}
	#buttonOffset {
	    position: relative;
	    float: left;
	    right: 15px;
	}
	#addColOffset {
	    position: relative;
	    float: right;
	    right: 15px;
	}
	#addColumn {
	    position: relative;
	    float: right;
	}
	#colHeader {
	    position: relative;
	    float: left;
	    top: 5px;
	}
	#colGroup {
	    margin-bottom: 15px;
	}
	
	#legendBox{

		
	}
	
	#legendRequired{
		border: solid black 1px; 

		background-color: #add8e6;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;
		
	}
	
	#legendHidden{
		border: solid black 1px; 
		background-color: #77bcd9;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;

		
	}
	
	#legendOwner{
		border: solid black 1px; 
		background-color: white;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;

		
	}
	
	#legendGuest{

		border: solid black 1px; 
		background-color: #ececec;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;
		
	}
	
	#legendText{
		text-align: right;
		margin-top: 5px;
		
	}
	
	#chatBox{
		height: 500px;
		border: solid black 1px;
		border-radius: 4px;
		
	}
	
	#buttonGroup{
		position: relative; 
		bottom: 5px; 
		
	}
	
	#listsheetsbadge{
		
		position:relative; 
		float: right; 
		right: 40px;
		
		background-color: green;
	}
	

	
	
	.navbar-default{
		
		background-color: #2c9552;
		color: white;
	}
	
		.panel-heading{
		
		color: white;
	}
	
	
	.panel-default > .panel-heading {

}
	
.navLink {
	color: white;
}

.login-link-text{
	color: white;
	position: relative; 
	float: right;
	top: 15px;
	
}

#loginPlace{
	
	position:relative;
	float: right;
}


#rightFloat{
		position:relative;
	float: right;	
	
}

.panel-default > .panel-heading {
color: black;
background-color: #dfdfdf;
border-color: #bfbfbf;
}

.page-header {

margin: 0px;
}

#mainLogo {
position: relative;
top: 10px;
margin-right: 30px;
}

#help {
position: relative; 
bottom: 3px;
height: 10px; 
}


	#legendRow{
		position: relative;


		padding: 20px; 

		
	}
	
	
	.accounts-dialog{
		width:220px;
		
	}
	
	

	#login-buttons-password{
		background-color: #2c9552;
		border: solid #2c9552 1px;
		
	}
	
	#colFormWrapper{
		height: 420px;
		overflow: auto;
	}
	
	#login-dropdown-list{
		position:absolute;
		left: -150px;
	}
	
	#navbar-nav{
		float: right;
	}
	
	.navbar-nav{
		float: right;
	}


    #shareSheetContent{

        position:relative;

        margin: 10px;
    }

    #helpPromptImage{

        position:relative;

        top: 20px;
        right: 20px;
    }

.login-button{
	background-color: black;
}


#createSheetText{

    font-size: 1.35em;
    position: relative;
    top: 6px;
}

    #welcomeEmptyText{

        font-size: 1.35em;
        position: relative;
        /* top: 6px; */
        left: 260px;
        margin: 15px;
        padding: 5px;
    }


    #login-buttons-open-change-password.login-button{
     background-color: #2c9552;
    }
    #login-buttons-password.login-button{
        background-color: #2c9552;
    }
    #login-buttons-password.login-button:hover{
        background-color: #1da44e;
    }
    #login-buttons-logout.login-button{
        background-color:#2c9552;

    }

    #login-buttons-open-change-password.login-button:hover{
        background-color: #1da44e;
    }

    #login-buttons-logout.login-button:hover{
        background-color:#1da44e;

    }


    .welcomeEmptyText{

        font-size: 1.35em;
        position: relative;
        /* top: 6px; */
        left: 260px;
        margin: 15px;
        padding: 5px;
    }



	#chatContainer{
		height: 450px;
		width: 285px;


	}
	
	#chatContent{
		height: 400px;
		border: solid black 1px;
		border-radius: 5px;
		margin: 5px;
		padding: 5px;
	}
	
	.messageIncoming{
		position:relative;
		float: left;
		background-color: pink;
		margin:10px;
		padding: 10px;
	}
	
	.messageOutgoing{
		position:relative;
		float: right;
		background-color: yellow;
		margin: 10px;
		padding: 10px;
	}
	
	/* CSS declarations go here */


.messageLeft{
    position: relative;
    color: #757577;
    background-color: #e6e5eb;


}

.messageRight{
    position: relative;
    background-color: #0b83fe;
    color: #ffffff;

}

#chatContainer{

    
}

#chatWidget{

}

#chatContentRowText{
    
        height: 300px;
    overflow: auto;
    overflow-x: hidden;
}

#chatContentRow{
    

    margin-left: 0px;
    margin-right: 0px;
    font-size:.9em;
    height: 400px;
}

#submitMessageButton{
	
	font-size: .8em;
	  position: relative;
  right: 25px;
  top: 3px;

}

#typeMessage{
	margin-left: 5px;
	margin-bottom: 5px;
	
}

#chatActionsRow{
	border: solid 1px;
	border-top: 1px;
	border-right: 0px;
	border-bottom: 0px;
	border-left: 0px;
}

.listedUser{

}