	#header {
	    height: 50px;
	    font-size: 1.3em;
	}
	#righter {
	    position: relative;
	    float: right;
	}
	#buttonOffset {
	    position: relative;
	    float: left;
	    right: 15px;
	}
	#addColOffset {
	    position: relative;
	    float: right;
	    right: 15px;
	}
	#addColumn {
	    position: relative;
	    float: right;
	}
	#colHeader {
	    position: relative;
	    float: left;
	    top: 5px;
	}
	#colGroup {
	    margin-bottom: 15px;
	}
	
	#legendBox{

		
	}
	
	#legendRequired{
		border: solid black 1px; 

		background-color: #add8e6;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;
		
	}
	
	#legendHidden{
		border: solid black 1px; 
		background-color: #77bcd9;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;

		
	}
	
	#legendOwner{
		border: solid black 1px; 
		background-color: white;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;

		
	}
	
	#legendGuest{

		border: solid black 1px; 
		background-color: #ececec;
		width: 15px; 
		height: 20px;
		margin-top: 5px;
		border-radius: 3px;
		
	}
	
	#legendText{
		text-align: right;
		margin-top: 5px;
		
	}
	
	#chatBox{
		height: 500px;
		border: solid black 1px;
		border-radius: 4px;
		
	}
	
	#buttonGroup{
		position: relative; 
		bottom: 5px; 
		
	}
	
	#listsheetsbadge{
		
		position:relative; 
		float: right; 
		right: 40px;
		
		background-color: green;
	}
	
	#chatBox{
		position: relative; 
		float: left;
		height: 300px;
		width: 300px;
	}
	
	
	#chatContent{
		position: relative; 
		float: left; 
		height: 300px;

	}
	
	
	.navbar-default{
		
		background-color: #2c9552;
		color: white;
	}
	
		.panel-heading{
		
		color: white;
	}
	
	
	.panel-default > .panel-heading {

}
	
.navLink {
	color: white;
}

.login-link-text{
	color: white;
	position: relative; 
	float: right;
	top: 15px;
	
}

#loginPlace{
	
	position:relative;
	float: right;
}


#rightFloat{
		position:relative;
	float: right;	
	
}

.panel-default > .panel-heading {
color: black;
background-color: #dfdfdf;
border-color: #bfbfbf;
}

.page-header {

margin: 0px;
}

#mainLogo {
position: relative;
top: 10px;
margin-right: 30px;
}

#help {
position: relative; 
bottom: 3px;
height: 10px; 
}


	#legendRow{
		position: relative;


		padding: 20px; 

		
	}